.deps
.libs
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
*.pc
*.so
*.tar.gz
*~
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
test-driver

tests/*.log
tests/*.trs
tests/test-api-tagsClose
tests/test-api-tagsFind
tests/test-api-tagsFirst
tests/test-api-tagsFirstPseudoTag
tests/test-api-tagsOpen
tests/test-api-tagsSetSortType
tests/test-fix-null-deref
tests/test-fix-unescaping
