*.o
*.lo
*.so
*.a
*.la
*.obj
*.dll
*.exe
*.exp
*.lib
*.bak
*.BAK
*~
*.swp
*.orig
*.rej

.deps
.libs

/autom4te.cache
/config.h
/config.log
/config.status
/libtool
/onig-config
/Makefile
/sample/Makefile
/stamp-h1
