*.func-sort-c.html
*.func.html
*.gcda
*.gcno
*.gcov
*.gcov.html
*.o
*.obj
*.od
*.TMP
*.tmp
*~
a.out
autom4te.cache
badinput
_build
commit-stamp
config.h
config.h.in
config.log
config.status
configure
core.*
ctags
ctags.1
ctags.exe
ctags.ref
ctags.ref.exe
dctags
dctags.exe
Makefile
perf.data*
readtags
readtags.exe
respmvc
STDERR.*
syntax.vim
tags
tags.ref
tags.test
test.*.diff
tg
tinst-root
win32/*.opensdf
win32/*.sdf
win32/*.suo
win32/*.user
win32/[Dd]ebug/
win32/[Rr]elease/
Makefile.in
config.guess
config.sub
mkinstalldirs
aclocal.m4
compile
ctags-universal*
depcomp
missing
.deps
.dirstamp
stamp-h1
*-actual.txt
*-diff.txt
test-cases.mak
