*-actual.txt
*-diff.txt
*.func-sort-c.html
*.func.html
*.gcda
*.gcno
*.gcov
*.gcov.html
*.o
*.obj
*.od
*.pdf
*.pyc
*.c3workspace
*.c3workspace.user
*.tar.gz
*.TMP
*.tmp
*~
/Makefile
/packcc
/packcc.exe
.deps
.dirstamp
.DS_Store
a.out
aclocal.m4
autom4te.cache
badinput
commit-stamp
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
core.*
ctags
ctags-universal*
ctags.exe
ctags.ref
ctags.ref.exe
dctags
dctags.exe
depcomp
gdb-backtrace.txt
install-sh
libctags.a
libutil.a
Makefile.in
mini-geany
mini-geany.exe
missing
mkinstalldirs
optscript
perf.data*
readtags
readtags.exe
repoinfo.h
respmvc
stamp-h1
STDERR.*
syntax.vim
tags
tags.ref
tags.test
test.*.diff
tg
tinst-root
win32/*.aps
win32/*.opensdf
win32/*.sdf
win32/*.suo
win32/*.user
win32/[Dd]ebug/
win32/[Rr]elease/
_build
man/Makefile
man/ctags.1
man/ctags.1.html
man/ctags.1.rst
man/ctags-*.7
man/ctags-*.7.rst
man/ctags-*.7.html
man/readtags.1
man/readtags.1.rst
man/readtags.1.html
man/tags.5
man/tags.5.html
man/*.[157].in
ManTest
misc/mini-geany.actual
Tmain/**/Makefile
Tmain/**/Makefile.am
Tmain/**/Makefile.in
Units/**/Makefile
Units/**/Makefile.am
Units/**/Makefile.in
Tmain/dist.m4
Units/dist.m4
VALGRIND.tmp.core.*
gnulib/Makefile
gnulib/alloca.h
gnulib/ctype.h
gnulib/inttypes.h
gnulib/langinfo.h
gnulib/libgnu.a
gnulib/limits.h
gnulib/locale.h
gnulib/malloc/dynarray-skeleton.gl.h
gnulib/malloc/dynarray.gl.h
gnulib/stdlib.h
gnulib/string.h
gnulib/unistd.h
gnulib/wchar.h
gnulib/wctype.h
gnulib/sys/types.h
